.about-section {
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-color: inherit;
  color: inherit;
}

/* Dark mode styles */
body.dark .about-section {
  background-color: #000000;
  color: #ffffff;
}

body.dark .about-section h2 {
  color: #ffffff;
  font-size: 1.8rem;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  padding-bottom: 4px;
}

body.dark .about-section p {
  color: #bbbbbb;
}

.about-section h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.underline {
  width: 40px;
  height: 2px;
  background-color: #000;
  margin-bottom: 30px;
}

body.dark .underline {
  background-color: #ffffff;
}

.about-content {
  max-width: 600px;
  width: 100%;
}

.about-content h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}

.about-content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  color: inherit;
  text-align: left;
  margin-bottom: 30px;
}

.resume-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #e0e0e0;
  color: #000;
  text-decoration: none;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 4px;
}

.resume-button:hover {
  background-color: #d5d5d5;
  transform: translateY(-2px);
}

/* Dark mode button styles */
body.dark .resume-button {
  background-color: #333;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}

body.dark .resume-button:hover {
  background-color: #444;
}